.all-rights-reserved{
    box-sizing: border-box;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 12px;
    height: 40px;
    background-color: #21409a;
    color: #ffffff;
    text-align: center;
    padding-top: 2px;

    a{
        color: #ffffff;
    }
}