 

.filter{
    position: relative;
    max-width:40rem;
    min-width: 485px;;
    box-sizing: border-box;
    border: 2px solid #8cc0f1;
    border-radius: 25px;
    font-size: 1rem;
    position: relative;
    .categoryList, .productList{
        position: absolute;
        white-space: nowrap;
        // width: auto;
        width: 100%;
        z-index: 1;
    }
    form{
        display: flex;
    }

    .categorySelectionBtn{
        display: flex;
        border:none ;
        background: none;
        cursor: pointer; 
        align-items: center;
    }

    .categoryTitle{
        padding-left: 10px;
        color: #666666;
        font-size: 0.9rem;
    }
    input[type='text']{
        flex-grow: 1;
        min-width: 8rem;
        border: 0;
        padding: 0.5rem 0.5rem;
        font-size: 0.9rem;
    }
    .cancelSearch {
        display: flex;
        align-items: center;
        button {
            background: none;
            border: 0;
            font-size: 16px;
            width: 30px;
        }
    }
    button[type=submit]{
        width: 55px;;
        padding: 8px;
        border: 1px solid rgb(255, 60, 119);
        background-color: rgb(255, 60, 119);
        color: whitesmoke;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 25px;
        border-top-left-radius:0 ;
        border-bottom-left-radius:0 ;
        cursor: pointer;
    }

}
