
$primary_hover_color:#21409A;
$textColor: hsl(246, 100%, 6%);

.mega-menu {
    position: relative;
    top: 20px;
    .mega-menu-level1 {
        position: absolute;
        height: calc(100vh - 120px);
        width: 320px;
        background-color: hsl(0, 50%, 100%);
        border-left: 1px solid hsl(0, 50%, 0%);
        overflow-y: auto;
        padding-bottom: 25px;
    }
    .mega-menu-level2 {
        position: absolute;
        left:320px;
        top:0;
        background-color: hsl(0, 50%, 100%);
        margin-left: 2px;
        overflow-y: auto;
        width: 320px;
        height: calc(100vh - 120px);
        padding-bottom: 25px;
    }
    .menu-level {
        width: 100%;
        margin-top: 50px;
        .menu-title {
            font-size: 24px;
            font-weight: 700;
            color: $textColor;
            margin-bottom: 20px;
            .menu-category {
                text-decoration: none;
                color: $textColor;
            }
        }
        .menu-li {
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &:hover {
                a,p {
                    color: $primary_hover_color;
                    text-decoration: underline;
                }
            }
            a, p {
                color: black;
                text-decoration: none;
            }
            &.active {
                a,p {
                    color: $primary_hover_color;
                    text-decoration: underline;
                } 
            }
        }
    }
    
    .d-block {
        display: block; 
    }
    .d-none {
        display: none;
    }
}