@import '../base';

.signInContainer{
    color: $textColor;
    font-weight: 400;
    .shopothLogo{
        margin-bottom: 20px;
        text-align: center;
    }
    .shopothTitle{
        text-align: center;
        h2{
            font-size: 32px;
        }
        p{padding-top: 10px;
            font-size: 18px;
        }
    }
    .siginInForm{
        margin-top: 30px;
        .errorMsg{
            color: $secondaryColor;
            font-size: 14px;
            font-weight: 400;
            padding-top: 5px;
            padding-left: 8px;
        }
       .emailOrPhone{
        .emailControl{
            width: 100%;
            border: 1px solid $borderColor;
            outline: none;
            font-size: 18px;
            padding: 15px 20px;
            border-radius: 8px;
        }
       } 
       .passwordContainer{
            margin-top: 24px;
            .password{
                display: flex;
                align-items: center;
                border: 1px solid $borderColor;
                border-radius: 8px;
                .passwordControl{
                flex-grow: 1;
                border: none;
                outline: none;
                font-size: 18px;
                padding: 15px 20px;
                transition: all 0.30s ease-in-out;
                &:focus{
                    box-shadow: 0 0 3px rgba(81, 203, 238, 1);
                } 
                }
                .showHideBtn{
                    font-size: 18px;
                    cursor: pointer;
                    margin: 0px 24px;
                    color: $textColorLightGray;
                }
            }
       }
    }
    .forgetPassword{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        padding-right: 10px;
        .forgetPasswordBtn{
            font-size: 16px;
            font-weight: 700;
            color: $primaryColor;
            border: none;
            background: none;
            border-bottom: 1px dotted $borderColor ;
            cursor: pointer;
        }
    }
    .keepMeSignIn{
        position: relative;
        margin: 5px 0px;
        margin-left: 10px;
        .checkboxLabel{
            position: relative;
            font-size: 16px;
            top: -7px;
            left: -5px;
            font-weight: 700;
        }
        p{
            font-size: 14px;
            position: relative;
            top: -12px;
            padding-left: 30px;
        }
     }

    .signInBtn{
        margin: 10px 0px;
        p{
            font-size: 16px;
            text-align: right;
            margin-top: 10px;
            padding-right: 15px;
        }
        .createAnAccount{
            color: $primaryColor;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width:768px) {
    .signInContainer{
        .shopothLogo{
            margin-bottom: 20px;
            text-align: center;
        }
        .shopothTitle{
            text-align: center;
            h2{
                font-size: 24px;
            }
            p{
                padding-top: 10px;
                font-size: 18px;
            }
        }
    
        .siginInForm{
           .emailOrPhone{
                .emailControl{
                    width: 100%;
                    border: 1px solid $borderColor;
                    outline: none;
                    font-size: 16px;
                    padding: 12px 15px;
                    transition: all 0.30s ease-in-out;
                    &:focus{
                        box-shadow: 0 0 3px rgba(81, 203, 238, 1);
                    }  
                }
           } 
           .password{
               .passwordControl{
                width: 85%;
                font-size: 16px;
                padding: 12px 15px;
                transition: all 0.30s ease-in-out;
                &:focus{
                        box-shadow: 0 0 3px rgba(81, 203, 238, 1);
                    } 
               }
               .showHideBtn{
                    width: 10%;
                    font-size: 16px;
               }
           }
        }
        .forgetPassword{
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            .forgetPasswordBtn{
                font-size: 14px;
            }
        }
   
        .signInBtn{
            margin: 10px 0px;
            p{
                font-size: 16px;
               text-align: center;
                margin-top: 10px;
                padding-right: 15px;
            }
        }
    }
}

@media only screen and (max-width:420px) {
    .signInContainer{
        .shopothTitle{
            h2{
                font-size: 20px;
            }
            p{
                padding-top: 10px;
                font-size: 16px;
            }
        }
        .siginInForm{
           .emailOrPhone{
                .emailControl{
                    font-size: 14px;
                }
           } 
           .password{
               .passwordControl{
                font-size: 14px;
               }
               .showHideBtn{
                    width: 10%;
                    font-size: 14px;
               }
           }
        }
        .signInBtn{
            margin: 10px 0px;
            p{
                font-size: 16px;
                text-align: center;
                margin-top: 10px;
                padding-right: 15px;
            }
            
        }
    }
}