$primaryColor:#21409A;
$secondaryColor:#EF4056;
$textColor:#192434;
$textColorGray:#343A40 ;
$textColorLightGray:#9E9E9E;
$textSecondaryColor:#616161;
$borderColor:#DFE7FF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.deliveryAddressWrapper{
    color: $textColor;
    .deliveryAddressHeader{
        border-bottom: 2px solid $primaryColor;
        padding-bottom: 10px;
        margin-bottom: 10px;
        h2{
            font-size: 20px;
            font-weight: 700;
        }
    }
    .selectAddress{
        h4{
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .formlabel{ 
            font-size: 18px;
            font-weight: 400;
            padding-left: 5PX;
        }
        .address{
            margin-bottom: 10px;
            border: 1px solid $borderColor;
            border-radius: 8px;
            padding: 20px 30px;
        }
        .radioContainer{
            position: relative;
            .labelTxt{
                position: relative;
                top: 3px;
            }
        }
    }
    .addNewAddress{
        margin-top: 20px;
        button{
            background: none;
            border: none;
            border-bottom: 1px dotted;
            color: $secondaryColor;
            cursor: pointer;
        }
    }

    .selectedAddress{
        background-color: $borderColor;
        font-weight: 700;
    }
}