$primary_color:#0275d8;
$primary_hover_color:#1d8ae9;
$secondary_color:#adb5bd;
$secondary_hover_color:#c6cbcf;
$success_color:#5cb85c;
$success_hover_color:#6fc76f;
$info_color:#5bc0de;
$info_hover_color:#6fcbe7;
$warning_color:#f0ad4e;
$warning_hover_color:#f7bb68;
$danger_color:#d9534f;
$danger_hover_color:#eb6a65;
$cart_color:#f80e68;
$cart_hover_color:#fd3b85;
$dark_color:#050505;
$light_color:#ffffff;


.price-container{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: -25px;
}

.text-primary{
    color: $primary_color;
}
.text-secondary{
    color: $secondary_color;
}
.text-success{
    color: $success_color;
}
.text-info{
    color: $info_color;
}
.text-warning{
    color: $warning_color;
}
.text-danger{
    color: $danger_color;
}
.text-cart{
    color: $cart_color;
}
.text-dark{
    color: $dark_color
}
.text-light{
    color: $light_color;
}


.regularPrice{
    text-decoration: line-through;
    margin-left: 1.5rem;
    color: #636aa8;
}

.currentPrice{
    color: #232749;
}

