$primaryColor:#21409A;
$secondaryColor:#EF4056;
$textColor:#192434;
$textSecondaryColor:#616161;
$borderColor:#DFE7FF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.myAddressWrapper{

    .myAddressHeader{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 10px;
        h4{
            font-size: 20px;
            font-weight: bold;
        }
        p{
            cursor: pointer;
            color: $secondaryColor;
            font-size: 12px;
            font-weight: 600;
            &:hover{
                text-decoration: underline;
            }
                
        }
    }
    .myAddress{
        font-size: 14px;
        font-weight: 400;
        .myAddressItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $borderColor;
            padding: 15px 0px;

            .addressEdit{
                color: $textSecondaryColor;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}