$primaryColor:#21409A;
$secondaryColor:#EF4056;
$textColor:#192434;
$textColorGray:#343A40 ;
$textColorLightGray:#9E9E9E;
$textSecondaryColor:#616161;
$borderColor:#DFE7FF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.myOrderTabsWrapper{
    font-size: 18px;
    font-weight: 400;
    .myOrderTabs{
        display: flex;
        justify-content: space-around;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        color: $textColor;
        margin: 15px 0px;
        .myOrderTabItem{
            padding: 10px;
            cursor: pointer;
            }
        .selectedTab {
            font-weight: 700;
            color: $primaryColor;
            background-color: $borderColor;
            padding: 10px 20px;
        }
    }
}