$primaryColor:#21409A;
$secondaryColor:#EF4056;
$textColor:#192434;
$textSecondaryColor:#616161;
$borderColor:#DFE7FF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.myProfilePageWrapper{
    display: flex;
    .myProfileSidebar{
        width: 30%;
        margin-right: 20px;
    }
    .myProfileContent{
        width: 70%;
        .userInfo{
            margin-bottom: 20px;
        }
    }
}