$primaryColor:#21409A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.personalInfoContWrapper{
    padding: 30px;
    border: 1px solid #DFE7FF;
    border-radius: 8px;
    margin-bottom: 10px;
    .personalInfo{
        padding-bottom: 15px;
    }
    .myAddressdetails{
        padding-top: 35px;
        border-top: 2px solid $primaryColor;
    }
}