$primaryColor:#21409A;
$secondaryColor:#EF4056;
$textColor:#192434;
$textColorGray:#343A40 ;
$textColorLightGray:#9E9E9E;
$textSecondaryColor:#616161;
$borderColor:#DFE7FF;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.returnOrderOneWrapper{
    border:1px solid $borderColor;
    border-radius: 8px;
    padding: 24px 40px;
    font-weight: 700;
    color: $textColor;
    .backStepOne{
        text-align: right;
        button{
            cursor: pointer;
            background: none;
            border: none;
            color: orange;
            font-size: 14px;
            font-weight: 700;
        } 
    }
    .returnOrderOneHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            font-size: 20px;
            padding-bottom: 15px;
            white-space: nowrap;
        }
    }
    .returnOrderOneNum{
        background-color: $borderColor;
        padding: 10px 25px;
        font-size: 16px;
    }
    .returnOrderOneItem{
        display: flex;
        border-bottom: 1px solid $borderColor;
        padding:20px 15px;
        .returnOrderOneSelectRadio{
            align-self: center;
            margin-right: 5px;
        }
        .returnOrderOneImgWrapper{
            border:1px solid $borderColor;
            border-radius: 8px;
            .returnOrderOneImg{
                width: 150px;
                height: 150px;
            }
        }
        .returnOrderOneItemDes{
            flex-grow: 1;
            margin-left: 20px;
            h4{
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                padding-bottom: 10px;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: $textSecondaryColor;
                line-height: 24px;
            }
        }
    }
    .returnReason{
        margin: 20px 0px;
        .returnReasonLabel{
            display: block;
            padding-bottom: 5px;
            font-size: 18px;
            font-weight: 500;
        }
        .returnReasonSelect{
            display: block;
            width: 50%;
            padding: 10px;
            font-size: 14px;
            font-weight: 400;
            outline: none;
            border:1px solid $borderColor;
            background-color: #fff;
            border-radius: 5px;
        }
    }
    .uploadImgWrapper{
        display: flex;
        align-items: center;
        .showUploadImg{
            width: 100px;
            height: 100px;
            background-color: $textColorLightGray;
            border-radius: 8px;
        }
        .uploadImg{
            display: block;
            width: 300px;
            height: 100px;
            margin-left: 10px;
        }
    }
    .additionalCommentWrapper{
        margin: 15px 0px;
        .addCmntLabel{
            display: block;
            padding-bottom: 5px;
            font-size: 18px;
            font-weight: 500;
        }
        .addCmntInput{
            width: 50%;
            outline: none;
            border: 1px solid $borderColor;
            border-radius: 5px;
            padding: 10px;
            &:focus{
                box-shadow: 1px 3px 5px $borderColor;
            }
        }
    }

    .returnTotal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid $primaryColor;
        padding: 8px 20px;
        h4{
            font-size: 16px;
            font-weight: 700;
        }
    }
    .nextBtn{
        width: 200px;
        margin: 15px 0px;
    }
}

    // custom radio button
.radioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        border: 1px solid $secondaryColor;
        border-radius: 50%;
    }
    input:checked ~ .checkmark {
        background-color: #fff;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark:after {
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $secondaryColor;
    }
} 
